.App{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 480px) {
    .App{
        writing-mode: horizontal-tb;
        font-size: 10px;
    }
}